---
import Links from "@components/Links";
import Page from "@layouts/page";
---

<Page title="About me">
	<h2>About me</h2>
	<Links />
	<p>
		I'm a software developer with a passion for building things that people can use.
	</p>
</Page>