---
import Links from "@components/Links";
import Page from "@layouts/page";

const email = "rolandopiero63@gmail.com"

---

<Page title="Contact me">
	<h2>Contact me</h2>
	<Links />
	<p>
		Send me a dm in linkedin or twitter, or email me at <a href="mailto:
			{email}">{email}</a>
	</p>
</Page>
