<footer class="footer footer-center p-4">
  <div>
    <p class="text-xs text-base-content/70">
      &copy; {(new Date()).getFullYear()} – 
      <a class="link" href="https://github.com/pierorolando1" target="_blank">
        Piero Rolando 
      </a>
      <br />
      Powered by
      <a class="link" href="https://astro.build/" target="_blank">
        Astro
      </a>
    </p>
  </div>
</footer>